*.exe
ncmdump

.vscode
.idea
/.kotlin
build
.gradle

local.properties
gradle
app/.cxx
app/release
app/build
cmake-build-*
!app/src
!app/src/main/java
!app/src/main/java/com/netease/ncmdump/*.kt
vcpkg_installed
!gradle/libs.versions.toml